VITE_ENV="development"
VITE_TELEGRAM_BOT_URL=""
VITE_TELEGRAM_MANIFEST_URL=""
VITE_JETTON_SYMBOL=""

# TON Configuration
VITE_TONCENTER_API_KEY=""
VITE_TONCENTER_ENDPOINT="https://testnet.toncenter.com/api/v2/jsonRPC"
